.containerCard {
  display: grid;
  grid-template-columns: 1fr 1fr;

  background-color: rgb(176, 230, 15);
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.itemCard {
  background-color: white;
  padding: 2rem .2rem;
  text-align: center;
  padding: .5rem 1.5rem;
}

@media(width<768px){
  .containerCard{background-color: bisque; grid-template-columns: 1fr;}
}