.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 0;
  right: 0;

  width: 350px;
  padding: .5rem 2rem;

  background-color: gray;
}